# Node modules
node_modules/

# 환경 설정 파일
.env

# 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 운영체제 별 임시파일
.DS_Store
Thumbs.db

# 빌드 결과물
dist/
build/

# 테스트 커버리지 결과
coverage/

# IDE 설정 파일들
.vscode/
.idea/

# OS에서 생기는 파일
*.swp
*.swo